:root {

    --site-color-01: rgb(99, 87, 87) ;
    --site-color-01-hover: rgb(255, 0, 255) ;
}

body {
    background-color: grey;
}

h1 {

    font-size: 21px;
    line-height: 32px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
h2 {

    font-size: 21px;
    line-height: 32px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
h3 {

    font-size: 21px;
    line-height: 32px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
   



a {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.header-main{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.header-main-logo {
        width: fit-content;
        height: 100%;
       
        padding-left: 60px;
        display: flex;
        
}

.header-main-logo img {
    height: 30px;
    align-self: center;
}

.header-main-nav {
    width: fit-content;
    height: 100%;


}

.header-main-nav ul{
list-style: none;
margin-left: 30px;

}
.header-main-nav ul li {
display: inline;
float: left;

    
}
.header-main-nav ul li a{
padding: 0 10px;
font-family: Arial, Helvetica, sans-serif;
line-height: 60px;
color: black;
display: block;
height: 100%;
    
}


.header-main-nav ul li a:hover{
color: red;
    
}


.header-main-sm {
    width: 120px;
    height: 100%;

    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap:  10px;


}

.header-main-sm fb {

    width: 20px;
    height: 20px;
    background-image: url(../images/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm in {

    width: 20px;
    height: 20px;
    background-image: url(../images/instagram-color.png);
    background-repeat: no-repeat;
    background-size: cover;
}